body {
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#canvasContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: white;
  box-shadow: 12px 8px 16px black;
}

#settings {
  padding: 8px;
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#clear {
  box-shadow: 4px 2px 4px black;
  padding: 8px;
  border: 2px solid white;
  background-color: red;
  color: white;
  border-radius: 20px;
}